
@{
    ViewBag.Title = "Dove";
}

@*Inizio slideshow*@
<div class="row">

    <ul class="cb-slideshow">
        <li><span>Image 01</span><div><h3></h3></div></li>
        <li><span>Image 02</span><div><h3></h3></div></li>
        <li><span>Image 03</span><div><h3></h3></div></li>
        <li><span>Image 04</span><div><h3></h3></div></li>
        <li><span>Image 05</span><div><h3></h3></div></li>
        <li><span>Image 06</span><div><h3></h3></div></li>
    </ul>
</div>
@*Fine slideshow*@




<div class="text-center">
    <br /><br />

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2798.1054827275034!2d9.715282499999992!3d45.46767899999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478138ec4801d893%3A0x6fe41f034bb64d7c!2sLa+Padella+e+la+Brace!5e0!3m2!1sit!2sit!4v1419405979842" style="height:600px; width:100%; margin:auto; border-radius:15px; position:relative"></iframe>
    <br /><br />
</div>

